DATABASE_URL="MONGODB CLUSTER DATABASE URL"
DATABASE_NAME="MONGODB CLUSTER DATAEBASE NAME"
PORT="PORT NUMBER"

# This project has different environments that can be setup default, development, staging and production
#   .env (default), .env.development, .env.staging and .env.production | The naming conventions for each
# For each to work they must be populated with the variables in this file.
#   npm run dev, npm run staging, npm start (for production) | The start commands for each