DATABASE_URL="MONGODB CLUSTER DATABASE URL"
DATABASE_NAME="MONGODB CLUSTER DATAEBASE NAME"
PORT="PORT NUMBER"
JWT_SECRET="JWT SECRET KEY"
JWT_ACCESS_EXPIRATION_TTL="86400" # 86400 seconds is 24 hours time to live (ttl), change this to adjust duration of JWT function

# This project has different environments that can be setup default, development, staging and production
#   .env (default), .env.development, .env.staging and .env.production | The naming conventions for each
# For each to work they must be populated with the variables in this file.
#   npm run dev, npm run staging, npm start (for production) | The start commands for each